<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>tp2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  Servlet declaration -->
  <servlet>
    <servlet-name>CreationClient</servlet-name>
    <servlet-class>com.sdzee.servlets.CreationClient</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationCommande</servlet-name>
    <servlet-class>com.sdzee.servlets.CreationCommande</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeClients</servlet-name>
    <servlet-class>com.sdzee.servlets.ListeClients</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionClients</servlet-name>
    <servlet-class>com.sdzee.servlets.SuppressionClient</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeCommandes</servlet-name>
    <servlet-class>com.sdzee.servlets.ListeCommandes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionCommandes</servlet-name>
    <servlet-class>com.sdzee.servlets.SuppressionCommande</servlet-class>
  </servlet>
  
  
  <!--  Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>CreationClient</servlet-name>
    <url-pattern>/creationClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationCommande</servlet-name>
    <url-pattern>/creationCommande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeClients</servlet-name>
    <url-pattern>/listeClients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionClients</servlet-name>
    <url-pattern>/suppressionClients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeCommandes</servlet-name>
    <url-pattern>/listeCommandes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionCommandes</servlet-name>
    <url-pattern>/suppressionCommandes</url-pattern>
  </servlet-mapping>
  
  
  <!--  listener -->
  <listener>
    <listener-class>com.sdzee.config.InitialisationDaoFactory</listener-class>
</listener>
  
  
  <!--  filter -->
  
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>ignore</param-name>
        <param-value>false</param-value>
    </init-param>
</filter>


<filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
  
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>